/* element selectors */
body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 2rem 0 2.5rem;
}

h1 span {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  flex-basis: 50%;
  font-size: 1.2rem!important;
}

h3 {
  font-weight: 400!important;
}

small {
  font-weight: 400;
  font-size: 1rem;
}

/* id selectors */
#navbar {
  background-color: rgb(145, 246, 246);
}

#work {
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 0;
}

#about {
  margin: 3.5rem 0;
}

#contact {
  margin: 4rem 0;
  padding: 0;
}

/* class selectors */

.sectionHeader {
  font-weight: 400;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  border-radius: 0 10px 10px 0;
  background-color: rgb(183, 183, 183);
  margin: 0;
  padding: 1rem .5rem;
}

.header {
  background-image: url('images/canyon-photo.jpg');
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-color: rgba(253, 227, 111, 0.8);
  text-align: center;
  margin-top: 3rem;
  padding: 3rem 1.5rem 3rem;
}

.lead {
  font-size: 1rem;
  font-weight: 300;
}

.card-text {
  font-size: .7rem;
}

.project {
  margin-bottom: 3rem;
}

.card {
  width: 80%;
  margin: auto;
}

.card-body {
  padding: 0 0 1.9rem 0;
}

.card-header {
  background-color: rgb(145, 246, 246);
  font-weight: 300;
  font-size: 1.1rem;
}

.card-text {
  margin: .6rem 1.5rem 0 1.5rem;
  font-weight: 200;
}

.skillsSection {
  padding: 0;
  margin-bottom: 5rem;
}

.skillsFigure {
  margin: 0;
}

.skillsImage {
  max-width: 17%;
  padding: 0;
}

.aboutText {
  font-size: .9rem;
  font-weight: 200;
  border-left: solid 2px rgb(145, 246, 246);
}

.resume {
  color: rgb(108, 117, 125);
  text-decoration: none;
  line-height: 3.5;
}

.resume:hover {
  color: rgb(145, 246, 246);
  text-decoration: underline;
}

.contactInfo {
  margin-bottom: 2rem;
}

.email,
.phone {
  font-size: 1.2rem;
  font-weight: 300;
}

.footerLogo {
  color: rgb(100, 246, 246);
}

/* media queries */
@media (min-width: 321px) {
  .navFlex {
    justify-content: space-between!important;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 4.6rem;
    padding: 3rem 0 4rem;
  }

  h1 span {
    font-size: 5rem;
  }

  h2 {
    flex-wrap: nowrap!important;
    font-size: 1.3rem!important;
  }

  small{
    font-size: 1.1rem;
  }

  .sectionHeader {
    padding: 1rem;
  }

  .header {
    padding-bottom: 6rem;
  }

  #work {
    margin-top: 7rem;
    margin-bottom: 0;
  }

  .lead {
    font-size: 1.5rem;
  }

  .project {
    margin-bottom: 6rem;
  }

  .card-header {
    font-size: 1.5rem
  }

  .card-text {
    font-size: 1.1rem;
  }

  .skillsSection {
    margin-bottom: 8rem;
  }

  .skillsImage{
    max-width: 12%;
  }

  #about {
    margin: 6rem 0;
  }

  .aboutText {
    font-size: 1.2rem;
  }

  #contact {
    margin: 7rem 0;
  }

  .contactInfo {
    margin-bottom: 2.8rem;
  }

  .email,
  .phone {
  font-size: 1.5rem;
  }
}