/* element selectors */
h1 {
  font-size: 2rem;
  padding: 2rem 0 2.5rem;
}

h2 {
  flex-basis: 50%;
}

/* id selectors */
#navbar {
  background-color: rgb(145, 246, 246);
}

#sectionHeader {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  border-radius: 0 10px 10px 0;
  background-color: rgb(183, 183, 183);
  margin: 0;
  padding: 1rem;
}

#work {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

/* class selectors */

.header {
  background-image: url('images/canyon-photo.jpg');
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-color: rgba(253, 227, 111, 0.8);
  text-align: center;
  margin-top: 3rem;
  padding: 3rem 1.5rem 3rem;
}

.lead {
  font-size: 1rem;
}

.project {
  margin-bottom: 6rem;
}

.card {
  width: 80%;
  margin: auto;
}

.card-header {
  background-color: rgb(145, 246, 246);
}

/* media queries */
@media (min-width: 321px) {
  .navFlex {
    justify-content: space-between!important;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 5rem;
    padding: 3rem 0 4rem;
  }

  h2 {
    flex-wrap: nowrap!important;
  }

  .header {
    padding-bottom: 5rem;
  }

  .lead {
    font-size: 1.5rem;
  }
}