a:hover {
  color: rgb(145, 246, 246);
}

#sectionHeader {
  writing-mode: vertical-lr;
  text-orientation: upright;
  border-radius: 0 40px 40px 0;
}

.header {
  background-image: url('images/canyon-photo.jpg');
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}