// -------------------------------------------------------/
//  VARIABLES
// -------------------------------------------------------/

//  colors
$white: rgb(255, 255, 255);

$font-color-headers: rgb(73, 80, 87);  //dark gray
$font-color-secondary: rgb(108, 117, 125);  //light gray
$font-color-secondary-light: lighten($font-color-secondary, 25%);

$color-primary: rgb(145, 246, 246); //teal

//  breakpoints
$breakpoints: (
  'xs': 321px,
  'sm': 576px,
  'md': 1024px,
  'lg': 1440px,
)