// VARIABLES -----------------------------------------/
$white: rgb(255, 255, 255);

$font-color-headers: rgb(73, 80, 87);  //dark gray
$font-color-secondary: rgb(108, 117, 125);  //light gray

$background-color-primary: rgb(145, 246, 246); //teal
$color-light-accent: rgb(196, 200, 203);  //light gray accent color